<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Painel Administrativo, bem-vindo {function="getUserName()"}! <br>
            <h3>Usuarios cadastrados: {function="getTotalUsers()"}</h3>
            <h3>Categorias cadastradas: {function="getTotalCategories()"}</h3> 
            <h3>Produtos cadastrados: {function="getTotalProducts()"}</h3>
            <h3>Total de pedidos cadastrados: {function="getTotalOrders()"}</h3>
            <small>Graficos de pedidos por status</small> <br>
          </h1>
        </section>
    
        <!-- Main content -->
        <section class="content">
    
          <!-- Your Page Content Here -->
    
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->